<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:postgresql://localhost:5432/computer_games_e_shop</property>
    <property name="dialect">org.hibernate.dialect.PostgreSQL95Dialect</property>
    <property name="connection.driver_class">org.postgresql.Driver</property>
    <property name="connection.username">postgres</property>
    <property name="connection.password">pass</property>
    <property name="show_sql">true</property>
    <property name="format_sql">true</property>

    <mapping class="project.entity.User"/>
    <mapping class="project.entity.Genre"/>
    <mapping class="project.entity.Subgenre"/>
    <mapping class="project.entity.Game"/>
    <mapping class="project.entity.Order"/>
    <mapping class="project.entity.DeveloperCompany"/>
    <mapping class="project.entity.Comment"/>
    <mapping class="project.entity.GamePrice"/>
    <mapping class="project.entity.Screenshot"/>
    <mapping class="project.entity.ItemInOrder"/>
    <mapping class="project.entity.Storage"/>
    <mapping class="project.entity.SimpleUser"/>
    <mapping class="project.entity.Admin"/>
    <!-- DB schema will be updated if needed -->
    <!-- <property name="hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>