<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список игр</title>
</head>
<body>
<div th:insert="~{header}"></div>
<form style="padding-top: 50px" id="form" th:action="@{/games-filter}" th:method="post" th:object="${filters}">
    <table>
        <caption><b>Фильтры</b></caption>
        <col width="200"><col width="300"><col width="300">
        <tr>
            <td>
                <input type="checkbox" th:field="*{PriceFilterChosen}"><b>Цена(ниже чем)</b>
                <input type="text" pattern="\d+" th:field="*{price}">
            </td>
            <td>
                <input type="checkbox" th:field="*{AgeLimitFilterChosen}"><b>Возрастное ограничение</b>
                <select th:field="*{ageLimit}">
                    <option th:each="ageLimit: ${ageLimits}"
                            th:value="${ageLimit}"
                            th:text="${ageLimit.name}">age limit
                    </option>
                </select>
            </td>
            <td>
                <input type="checkbox" th:field="*{IssueYearFilterChosen}"><b>Год выпуска(начиная от)</b>
                <input type="text" pattern="\d{4}" th:field="*{issueYear}">
            </td>
        </tr>
    </table>
    <br>
    <label>Показывать на странице по
        <input type="text" size="2" pattern="\d" th:field="*{itemsOnPage}">
    </label><br>
    <input type="submit" value="Применить">
</form>
<table width="1200" border="1">
    <col width="200"><col width="950"><col width="50">
    <tr>
        <th align="left">Название</th>
        <th align="left">Описание</th>
        <th align="left">Год выпуска</th>
        <th align="left">Возрастное ограничение</th>
    </tr>
    <tr th:each="game: ${games}">
        <td><a th:href="@{/game-info(id=${game.id})}" th:text="${game.name}">game name</a></td>
        <td th:text="${game.description}">game description</td>
        <td th:text="${game.issueYear}">game issue year</td>
        <td th:text="${game.ageLimit.name}">game age limit</td>
    </tr>
</table>
</body>
</html>