<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Список игр</title>
</head>
<body>
<div th:insert="~{header}"></div>
<form style="padding-top: 50px" id="form" th:action="@{/games-filter}" th:method="post">
    <table>
        <caption><b>Фильтры</b></caption>
        <col width="200"><col width="300"><col width="300">
        <tr>
            <td>
                <input type="checkbox" name="filters" value="price"><b>Цена(ниже чем)</b>
                <input type="text" name="price">
            </td>
            <td>
                <input type="checkbox" name="filters" value="age_limit"><b>Возрастное ограничение</b>
                <select name="age_limit">
                    <option th:each="ageLimit: ${ageLimits}"
                            th:value="${ageLimit}"
                            th:text="${ageLimit.name}">age limit
                    </option>
                </select>
            </td>
            <td>
                <input type="checkbox" name="filters" value="issue_year"><b>Год выпуска(начиная от)</b>
                <input type="text" name="issue_year">
            </td>
        </tr>
    </table>
    <br>
    <label>Показывать на странице по
        <input type="text" name="items_on_page" size="2">
    </label><br>
    <input type="submit" value="Применить">
</form>
<div sec:authorize="hasAnyAuthority('ADMIN')">
    <span>Hello</span>
</div>
<table width="1200" border="1">
    <col width="200"><col width="950"><col width="50">
    <tr>
        <th align="left">Название</th>
        <th align="left">Описание</th>
        <th align="left">Год выпуска</th>
        <th align="left">Возрастное ограничение</th>
    </tr>
    <tr th:each="game: ${games}">
        <td><a th:href="@{/game-info(id=${game.id})}" th:text="${game.name}">game name</a></td>
        <td th:text="${game.description}">game description</td>
        <td th:text="${game.issueYear}">game issue year</td>
        <td th:text="${game.ageLimit.name}">game age limit</td>
    </tr>
</table>
</body>
</html>