<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Изменение состояния заказа</title>
</head>
<body>
    <div th:insert="~{header}"></div>
    <br>
    <form style="padding-top: 50px" th:action="@{/change-order-condition}" th:method="post" th:object="${orderData}">
        <label>Выберите состояние:
            <select th:field="*{condition}">
                <option th:each="condition: ${conditions}" th:value="${condition}" th:text="${condition.name}">
                    Condition
                </option>
            </select>
        </label>
        <input type="hidden" th:field="*{id}">
        <input type="submit" value="Изменить">
    </form>
</body>
</html>